/* Master Styles*/

body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}


/*Nav Styles*/

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.right-side .Links {
    padding-top: 5px;
    padding-left: 20px;
}

.right-side .Links li {
    display: inline-block;
    padding: 0 5px;
}

.right-side .Links a:visited {
    color: black;
}

.right-side .Links a:link {
    color: black;
}

.nav-wrapper>.left-side>div {
    margin-top: 20px;
    margin-right: 20px;
    font-size: 1.0em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.active-nav-link {
    border-bottom: 1px solid black;

}

.active-nav-link a {
    color: black !important;

}

/*Portfolio Styles*/
.inspira {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.inspira img {
    width: 50%;
    margin: auto;
}

.insp-grid h1 {
    font-weight: 700;
    font-size: 60px;
}

.insp-grid p {
    font-weight: 500;
    font-size: 20px;
}

.quote-space {
    padding-top: 100px;
}

.quote-space img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.quote-space .quote {
    margin-top: -25px;
    height: 300px;
    width: 100%;
    background-color: darkturquoise;
}

.quote h1 {
    color: white;
    text-align: center;
    padding-top: 50px;
}

.quote p {
    font-size: 20px;
}

.empty-space {
    height: 100px;
}

.project-title {
    color: black;
    text-align: center;
}

.project-title h1 {
    font-weight: 700;
    font-size: 40px;
    border-bottom: 2px solid currentColor;
    display: inline-block;
}

.project-title p {
    text-decoration: none;
    font-size: 20px;

}


.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 10px;
}

.portfolio-item-wrapper {
    position: relative;
    margin: 10px;
}

.portfolio-img-background {
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 40px;
}

.logo-wrapper img {
    margin: auto;
    display: block;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 900;
    font-size: 20px;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 900;
    font-size: 20px;
    color: darkturquoise;
}

.img-darken {
    transition: 1s;
    filter: brightness(5%);
}

/* About Page */
.about-content-wrapper {
    position: relative;
}

.basic-info {
    width: 100%;
}

.basic-info h1 {
    color: black;
    border-bottom: 2px solid currentColor;
    display: inline-block;
    margin-left: 100px;
}

#t01 {
    height: 300px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

#t01 th {
    color: white;
    background-color: darkturquoise;
    text-align: right;
    padding-right: 10px;
}

#t01 td {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding-left: 10px;
}

.skill-info {
    width: 100%;
    padding-bottom: 100px;
}

.skill-info h1 {
    color: black;
    border-bottom: 2px solid currentColor;
    display: inline-block;
    margin-left: 100px;
}
.skill-info .skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#lang {
    height: 200px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}


#lang th {
    color: white;
    background-color: darkturquoise;
    text-align: right;
}
#lang td{
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: right;
    padding-right: 10px;
}

#file{
	border: 0;
	width: 100%;
	height: 30px;
    border-radius: 0px;
}
#lang td progress::-webkit-progress-bar {
	background-color: rgba(0, 0, 0, 0);
	border-radius: 0px;
}
#lang td progress::-webkit-progress-value {
	background: rgba(0, 206, 209, 0.7);;
	border-radius: 0px;
}
#lang td progress::-moz-progress-bar {
	background: rgba(0, 206, 209, 0.7);
	border-radius: 0px;
}

@media (max-width: 1000px) {

    .portfolio-items-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 10px;
    }
    .skill-info .skills{
        display:block;
    }
}